



<tr class="nested-fields" id="recipe_materials">
<td>
  <%#= f.label :new_ingredient_name %>
  <%#= f.text_field :name, class: "form-control" %>
  <%= f.input :material_name, label: false, placeholder: "New Material Name", input_html: {class:'form-control'} %>
</td>
<td>
  <%= f.input :purchase_price, label: false, placeholder: "Purchase Price", input_html: {class:'form-control',min: 0} %>
</td>
<td>
  <%= f.input :purchase_quantity, label: false, placeholder: "Purchase Quantity/Volume", input_html: {class:'form-control',min: 0} %>
</td>
</tr>