
<td class="nested-fields" id="recipe_materials">
  <%#= f.label :new_ingredient_name %>
  <%#= f.text_field :name, class: "form-control" %>
  <%= f.input :material_name, label: false, placeholder: "New Material Name", input_html: {class:'form-control'} %>
  <%= f.input :user_id, as: :hidden, :input_html => { :value => current_user.id } %>
</td>
